<app-slider
  [size]="'small'"
  [nombre]="'Blog'"
></app-slider>

<div class="center">
    <section id="content">


        <article class="article-item article-detail" *ngFor="let article of article">
            <div class="image-wrap image-one">
                <img src="{{urlImage}}" alt="Paisaje" />
            </div>

            <h1 class="subheader">{{article.title}}</h1>
            <span class="date">
                {{article.date | amLocale: 'es' | amTimeAgo}}
            </span>
            <p>
               {{article.content}}
            </p>


            <button class="btn btn-warning" [routerLink]="['/actualizar-articulo/' , article._id]">Editar</button>
            <button class="btn btn-danger" (click)="Delete()">Eliminar</button>

            <div class="clearfix"></div>
        </article>

    </section>

    <app-sidebar></app-sidebar>

</div>
