

<div id="articles" >
    <article class="article-item" id="article-template" *ngFor="let article of articles">
        <div class="image-wrap image-all">
            <img src="{{url + 'get-image/' + article.image}}" alt="Paisaje" />
        </div>

        <h2>{{article.title}}</h2>
        <span class="date">
           {{article.date | amLocale: 'es' | amTimeAgo}}
        </span>

        <div>
            {{article.content.toString().substring(0, 12) + "..."}}
        </div>
        <a [routerLink]="['/blog/articulo' , article._id]">Leer más</a>

        <div class="clearfix"></div>
    </article>

    <!--AÑADIR ARTICULOS VIA JS-->

</div>
